/*  **************  background  ************/
/*  **************  gradient : button & heart  ************/
/*  **************  label  ************/
/*  **************    shadow    ***************/
/* *************** Border-radius *************/
/* *************** Border-color *************/
@keyframes delay {
  0% {
    transform: translateX(500px) skewX(50deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) skewX(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes delayCheck {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes visible {
  0% {
    transform: rotateX(30deg) translateX(30px) skewX(30deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg) scale(1);
    opacity: 1;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  padding: 3rem 0 4.25rem 0;
}
.fonctionnement-title {
  margin-left: 1.25rem;
  margin-bottom: 1.625rem;
  width: 100%;
}
@media (64em >= width >= 48em) {
  .fonctionnement-title {
    margin-left: -12.2rem;
  }
}
@media (23.438em >= width) {
  .fonctionnement-title {
    margin-left: 2rem;
  }
}

/* logo */
.logo {
  height: 3.938rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
}
@media (width >= 64em) {
  .logo {
    height: 6rem;
  }
}
.logo img {
  width: 10.5rem;
  padding: 1em;
}
@media (width >= 48em) {
  .logo img {
    height: 2.125rem;
    width: auto;
  }
}
@media (width >= 64em) {
  .logo img {
    height: 3rem;
    width: auto;
  }
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  text-align: center;
  background-color: #f6f6f6;
  align-items: center;
  padding: 2.438rem 0 3.5625rem 0;
}
.reservation_title {
  width: 17.188rem;
}
@media (width >= 48em) {
  .reservation_title {
    width: unset;
  }
}
.reservation_title > h2 {
  margin-block: unset;
}
.reservation_p {
  width: 19.688rem;
  margin-block-end: 1.688rem;
}
@media (width >= 48em) {
  .reservation_p {
    width: auto;
  }
}
.reservation_p > p {
  margin-block-end: unset;
}

.restaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  background-color: #f6f6f6;
  padding-top: 3.375rem;
}
.restaurants_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
}
@media (64em <= width) {
  .restaurants_box {
    padding-left: 10%;
  }
}
@media (64em >= width >= 48em) {
  .restaurants_box {
    display: flex;
    flex-direction: column;
  }
}
.restaurants-title {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (64em >= width >= 48em) {
  .restaurants-title {
    margin-left: 12.2rem;
  }
}
@media (width >= 64em) {
  .restaurants-title {
    margin-left: 9.7rem;
  }
}
.restaurants-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: 0 0 0 1.063rem;
  gap: 1.125rem;
}
@media (64em <= width) {
  .restaurants-cards {
    flex-direction: row;
    gap: unset;
    position: relative;
    left: -2.5rem;
  }
}
@media (64em >= width >= 48em) {
  .restaurants-cards {
    display: flex;
    /*    */
    flex-direction: row;
    gap: unset;
  }
}
.restaurants-cards > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  text-decoration: none;
  color: black;
}
.restaurants_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: unset;
  width: 100%;
}
@media (64em <= width) {
  .restaurants_container_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 1.875rem;
  }
}
@media (64em >= width >= 48em) {
  .restaurants_container_box {
    display: flex;
    /*    */
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 1.875rem;
  }
}
.restaurants_heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: unset;
  position: relative;
  z-index: 1;
}
.restaurants_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: unset;
  background-color: white;
  border-radius: 0.938rem;
}
.restaurants_card > img {
  width: 21.25rem;
  height: 10.875rem;
  border-radius: 0.938rem 0.938rem 0 0;
  object-fit: cover;
}
@media (width >= 64em) {
  .restaurants_card > img {
    left: -10rem;
    top: 18rem;
    width: 30.625rem;
    object-fit: cover;
  }
}
.restaurants_card_1, .restaurants_card_3, .restaurants_card_4 {
  object-position: 0% 100%;
}
.restaurants_card_2 {
  object-position: 38% 62%;
}
.restaurants_card-title {
  margin: 1rem 0 0 0.813rem;
}
.restaurants_card-subtitle {
  margin: 0.313rem 0 0.75rem 0.813rem;
}

.hart-resto {
  left: 80%;
  top: -4.5rem;
}
.hart-resto > .solid {
  margin-top: -0.0001rem;
}
@media (64em >= width >= 48em) {
  .hart-resto {
    left: -5%;
    top: 13rem;
  }
}
@media (width >= 64em) {
  .hart-resto {
    left: -3rem;
    top: 13rem;
  }
}
@media (width >= 90em) {
  .hart-resto {
    left: 30rem;
    top: 13rem;
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  gap: 1.063rem;
  background-color: #eaeaea;
  height: 3.125rem;
  margin-top: 0.25rem;
}
.localisation__text {
  width: 9rem;
  background-color: transparent;
  border-color: transparent;
  color: #7e7e7e;
}
.localisation > i {
  margin-right: 0.625rem;
  color: #7e7e7e;
}
.localisation :focus-visible {
  outline: transparent;
}

body {
  margin: unset;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-block: unset;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  background-color: #353535;
  min-width: 100%;
  height: 186px;
}
@media (width >= 64em) {
  footer {
    align-items: flex-end;
    max-height: 7.125em;
    min-width: 100%;
  }
}

body,
html,
button,
input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.location_text {
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: 1.125em;
  font-weight: 300;
  color: #7e7e7e;
  font-style: normal;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
}

@media (width >= 64em) {
  .reservation_title > h2 {
    font-size: 2.5rem;
  }
}

.restaurants_card-subtitle {
  font-size: 1.0625rem;
}

.restaurants_card-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.fonctionnement-container_number {
  font-size: 0.886rem;
}

input,
button,
.footer_label {
  font-size: 1rem;
  color: white;
}

footer {
  color: white;
}

.footer_logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.menu_restaurant_title > h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}
.menu_section > h3 {
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
}
.menu_container_content > h4 {
  font-size: 1.125em;
  font-weight: 500;
}
.menu_container_content > p {
  font-size: 0.94rem;
  font-weight: 300;
}
.menu_container_content_price > p {
  font-size: 0.94rem;
  font-weight: 700;
  color: #353535;
}

.reservation_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  border-radius: 1.563rem;
  background-image: linear-gradient(to top, rgb(147, 86, 220) -11.44%, #ff79da 123.93%);
  color: white;
  height: 3.125rem;
  width: 13.625rem;
  position: relative;
  z-index: 1;
}
.reservation_btn:hover {
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  transform: scale(1.01);
  background-image: linear-gradient(to top, #a16be0 -11.44%, #ff93e1 123.93%);
}
.reservation_btn:hover::after {
  opacity: 1;
}
.reservation_btn::after {
  content: "";
  position: absolute;
  border-radius: 1.563rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #a16be0 -11.44%, #ff93e1 123.93%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.fonctionnement_btn {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  border-radius: 1.25rem;
  width: 20.155rem;
  background-image: #f6f6f6;
  height: 4.5rem;
  margin-left: 0.75rem;
  color: black;
}
@media (64em <= width <= 90em) {
  .fonctionnement_btn {
    width: 18rem;
  }
}
@media (width <= 90em) {
  .fonctionnement_btn {
    width: 20.155rem;
  }
}

.btn_menu {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  border-radius: 0.938rem;
  box-shadow: 0rem 0.251rem 0.94rem 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 4.313rem;
  margin-left: 0.75rem;
  z-index: 1;
  position: relative;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  position: relative;
  border-radius: 100%;
  background-color: rgb(147, 86, 220);
  color: white;
  border: transparent;
  padding: 0.318rem 0 0.273rem 0.5rem;
  z-index: 1;
  height: 1.5rem;
  width: 1.5rem;
  left: 0.6rem;
}
@media (64em >= width >= 48em) {
  .number {
    left: 1rem;
  }
}
@media (width <= 23.438em) {
  .number {
    left: 2rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  gap: 1.558rem;
}
@media (width >= 64rem) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: unset;
  }
}
.container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
}
.container_content, .container_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  position: relative;
  z-index: 0;
  max-width: 90%;
}
@media (width >= 23.438em) {
  .container_content, .container_text {
    max-width: 100%;
  }
}
.container_content:hover, .container_content:active, .container_text:hover, .container_text:active {
  transform: scale(1.005);
}
.container_content:hover ::before, .container_content:active ::before, .container_text:hover ::before, .container_text:active ::before {
  color: rgb(147, 86, 220);
}
.container_content > i, .container_text > i {
  margin-right: 0.625rem;
  color: #7e7e7e;
}
@media (width >= 48rem) {
  .container_content > i, .container_text > i {
    margin-right: 2rem;
  }
}
@media (width >= 64rem) {
  .container_content > i, .container_text > i {
    margin-right: 1rem;
  }
}

.solid {
  opacity: 0;
  transition-property: all;
  transition-duration: 150ms;
  transform: scale(1.05);
}
.solid:hover {
  opacity: 1;
  color: transparent;
}
.solid:hover::before {
  background-image: linear-gradient(to top, #ff79da -15.44%, rgb(147, 86, 220) 120.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.regular {
  margin-right: -1.25rem;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  background-color: #99e2d0;
  color: #008766;
  margin: unset;
  position: relative;
  z-index: 1;
  padding: 0.438rem 0.6rem 0.375rem 0.563rem;
}
@media (64em >= width >= 48em) {
  .label {
    right: -30rem;
    top: 20rem;
  }
}
.label_box {
  height: 0;
}
@media (width >= 48em) {
  .label_box {
    height: 1.125rem;
  }
}
.label_hidden {
  margin: unset;
  visibility: hidden;
}

.LB_1 {
  right: -14rem;
  top: -34rem;
}
@media (width >= 48em) {
  .LB_1 {
    right: -49rem;
    top: -18rem;
  }
}
@media (width >= 64em) {
  .LB_1 {
    right: -35rem;
    top: -17rem;
  }
}

.LB_2 {
  right: -14rem;
  top: -17rem;
}
@media (width >= 48em) {
  .LB_2 {
    right: -20rem;
    top: -18rem;
  }
}
@media (width >= 64em) {
  .LB_2 {
    right: -62rem;
    top: -17rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
}
@media (width >= 48em) {
  .footer {
    justify-content: flex-end;
  }
}
.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  gap: 1rem;
  padding: 1.375rem 1.563rem;
}
.footer_box > a {
  color: white;
  text-decoration: none;
}
@media (width >= 48em) {
  .footer_box {
    flex-direction: row-reverse;
    max-height: 3.375em;
  }
}
.footer_label {
  position: relative;
  margin: unset;
}
.footer_label > a {
  color: white;
  text-decoration: none;
}
.footer_label-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  gap: 0.688rem;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  gap: 0.438rem;
}
@media (width >= 48em) {
  .footer_container {
    flex-direction: row;
    gap: 1rem;
  }
}
.footer_logo > h3 {
  margin: unset;
}
.footer_logo :hover {
  transform: scale(1.05);
}
.footer_div {
  height: 1.25rem;
}
.footer_div :hover {
  transform: scale(1.05);
}
.footer_div :active {
  background: transparent;
}

.partenaire {
  padding-right: 10rem;
}
@media (90rem >= width >= 48em) {
  .partenaire {
    padding-right: 0.5rem;
  }
}

.loading-box {
  width: 100%;
  height: 100vh;
  display: block;
  z-index: 10000;
  position: fixed;
  background-color: #353535;
  font-family: "shrikhand";
  overflow: hidden;
  animation: loader 3s ease-in-out;
  animation-fill-mode: both;
}

.loading-container {
  width: 100%;
  max-width: 80%;
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;
  margin-left: 0rem;
  top: 50%;
}
@media (width <= 23.438em) {
  .loading-container {
    margin-left: 2rem;
  }
}
@media (64em >= width >= 48em) {
  .loading-container {
    margin-left: 6rem;
  }
}
@media (width >= 64em) {
  .loading-container {
    margin-left: 9.7rem;
  }
}
.loading-container:before {
  content: "";
  position: absolute;
  margin-top: 80px;
  width: 100%;
  height: 20.2px;
  background: linear-gradient(to top, rgb(147, 86, 220) -11.44%, #ff79da 123.93%) left/0% 100% no-repeat;
  border-radius: 50px;
  animation: movingLine 3s infinite ease-in-out;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    background-size: 120% 100%;
    z-index: -1000;
  }
}
.loading-text {
  font-size: 4vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}
.loading-text .span_1 {
  transform-origin: 40% 80%;
  animation: moveLetters_1 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_2 {
  animation: moveLetters_2 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.69, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_3 {
  animation: moveLetters_3 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.69, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_4 {
  animation: moveLetters_4 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_5 {
  animation: moveLetters_5 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_6 {
  animation: moveLetters_6 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-text .span_7 {
  animation: moveLetters_7 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

.loading-text span:nth-child(8) {
  animation-delay: 0.8s;
}

.span_8 {
  animation: moveLetters_8 3s infinite;
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

@keyframes moveLetters_1 {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
  33.3%, 66% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_2 {
  0% {
    transform: translateX(150vw) translateY(0vw) rotate(360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-25vw) translateY(40vw) rotate(-360deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_3 {
  0% {
    transform: translateX(-55vw) translateY(60vw) rotate(-180deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(180deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_4 {
  0% {
    transform: translateX(75vw) translateY(90vw) rotate(-360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(360deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_5 {
  0% {
    transform: translateX(-85vw) translateY(-100vw) rotate(-155deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(85vw) translateY(40vw) rotate(155deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_6 {
  0% {
    transform: translateX(195vw) translateY(0vw) rotate(360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(-360deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_7 {
  0% {
    transform: translateX(95vw) translateY(-130vw) rotate(-300deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(300deg);
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes moveLetters_8 {
  0% {
    transform: translateX(95vw) translateY(-130vw) rotate(-300deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(300deg);
    opacity: 0;
    z-index: -1000;
  }
}
.loader_ball {
  display: inline-block;
  transform: translateZ(1px);
}

.loader_ball:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  border-radius: 50%;
  background-image: linear-gradient(to top, rgb(147, 86, 220) -11.44%, #ff79da 123.93%);
  animation: flip 3s cubic-bezier(1, 1.12, 0.39, 1.02) infinite;
}

@keyframes flip {
  0%, 100% {
    transform: rotateX(3deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateX(3deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  50% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
    z-index: -1000;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
.entete {
  display: flex;
  min-width: 100%;
  max-height: 25rem;
  width: 100%;
  object-fit: cover;
}
.entete > img {
  max-width: 100%;
  object-fit: cover;
}

.menu {
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
  padding-bottom: 2.5rem;
}
@media (48em <= width) {
  .menu {
    min-width: 73.19%;
  }
}
.menu_section > h3 {
  margin-top: 2.5rem;
}
.menu_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (width >= 64em) {
  .menu_box_logo {
    margin-left: 33%;
    border: transparent;
  }
}
@media (64em <= width) {
  .menu_box_logo {
    margin-left: unset;
  }
}

.commander {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.menu {
  position: relative;
  z-index: 1;
  top: -3.25rem;
  margin-bottom: -3.25rem;
}
@media (48em <= width) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    left: 6rem;
  }
}
@media (width >= 90em) {
  .menu {
    left: 12rem;
  }
}
@media (width >= 64em) {
  .menu {
    left: 8rem;
  }
}
.menu_restaurant {
  padding: 2rem 0 0 1.063rem;
}
@media (48em <= width) {
  .menu_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
.menu_restaurant_heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  position: relative;
  justify-content: flex-end;
  top: -1rem;
  margin-right: 3rem;
  z-index: 1;
}
@media (48em <= width) {
  .menu_restaurant_heart {
    top: 0;
  }
}
.menu_container {
  gap: 0.75rem;
}
.menu_container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  justify-content: space-between;
  padding: 0 0 0 0.938rem;
  border-radius: 0.938rem;
  animation: delay 250ms cubic-bezier(0.25, 0.45, 0.55, 0.95) both;
}
.menu_container_box:hover .menu_container_content {
  display: block;
  overflow: hidden;
  min-width: calc(95% - 5.376rem);
  transition: min-width 0.5s ease-in-out;
}
.menu_container_box:hover .menu_container_content_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  min-width: 1.688rem;
  height: 4.313rem;
  padding: 0 10px 0 10px;
  animation: delayCheck 0.5s ease-in-out;
}
.menu_container_box:hover .menu_container_content_check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  color: white;
  align-items: center;
  visibility: visible;
  min-width: 3.688rem;
  animation: delayCheck 0.5s ease-in-out;
  overflow: hidden;
}
.menu_container_content {
  height: 100%;
  min-width: calc(100% - 2.626em);
  overflow: hidden;
}
.menu_container_content > h4 {
  display: block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 23%;
}
@media (width <= 23.5em) {
  .menu_container_content > h4 {
    font-size: 0.8rem;
  }
}
.menu_container_content > p {
  font-size: 15.043px;
  margin-bottom: unset;
  margin-top: unset;
  padding-right: 0.5rem;
  transition-duration: 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 30%;
}
@media (width <= 23.5em) {
  .menu_container_content > p {
    font-size: 0.7rem;
  }
}
.menu_container_content_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  width: 2.626rem;
  height: 4.313rem;
}
.menu_container_content_check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  border-radius: 0 0.938rem 0.938rem 0;
  z-index: 0;
  align-items: center;
  overflow: hidden;
}
.menu_container_content_check > .fa-circle-check {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  font-weight: bolder;
}
.menu_title {
  position: relative;
  animation: delay 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transform: scale(0);
}
.menu_section {
  margin: 0 0.813rem 0 0.813rem;
}
@media (48em <= width) {
  .menu_section {
    min-width: 70%;
    overflow: hidden;
  }
}

.delay {
  animation-name: delay;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.delay_1 {
  animation-delay: 250ms;
}
.delay_2 {
  animation-delay: 360ms;
}
.delay_3 {
  animation-delay: 450ms;
}
.delay_4 {
  animation-delay: 550ms;
}
.delay_40 {
  animation-delay: 650ms;
}
.delay_5 {
  animation-delay: 2s;
}
.delay_6 {
  animation-delay: 2.25s;
}
.delay_7 {
  animation-delay: 2.35s;
}
.delay_8 {
  animation-delay: 2.45s;
}
.delay_9 {
  animation-delay: 3s;
}
.delay_10 {
  animation-delay: 3250ms;
}
.delay_11 {
  animation-delay: 3350ms;
}
.delay_12 {
  animation-delay: 3450ms;
}

.header_arrow {
  margin: 1.4rem 0 0 1.063rem;
}
.header_arrow :active {
  color: white;
}
.header_arrow > i {
  position: relative;
  font-size: 1.2em;
  left: -2rem;
}
.header_arrow > i.fa-arrow-left .fa-2x {
  font-size: 1em;
}
.header_box {
  display: flex;
  justify-content: center;
}
@media (width >= 48em) {
  .header_arrow {
    visibility: visible;
    margin: 1.875rem 0 0 1.063rem;
    text-align: start;
    max-height: 6rem;
  }
}
@media (width <= 23.438em) {
  .header_arrow > i {
    position: relative;
    left: -2rem;
    top: -0.5rem;
    font-size: 1.7em;
  }
}
@media (width >= 26.5em) {
  .header_arrow > i {
    position: relative;
    left: -4rem;
    top: -0.5rem;
    font-size: 1.7em;
  }
}
@media (width >= 48em) {
  .header_arrow {
    visibility: visible;
    margin: 1.875rem 0 0 1.063rem;
    text-align: start;
    max-height: 6rem;
  }
  .header_arrow > i {
    position: relative;
    left: -14rem;
    top: -0.3rem;
  }
}
@media (width >= 64em) {
  .header_arrow > i {
    position: relative;
    left: -19rem;
    top: 0.5rem;
    font-size: 2em;
  }
}
@media (width >= 90em) {
  .header_arrow > i {
    position: relative;
    left: -3rem;
  }
}
@media (width >= 160em) {
  .header_arrow > i {
    position: relative;
    left: -62rem;
  }
}
.header_box {
  display: flex;
}

.menu_container_content_check {
  background-color: #99E2D0;
  min-width: 3.688rem;
  max-width: fit-content;
  height: 4.313rem;
  border-radius: 0rem 0.938rem 0.938rem 0rem;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
