/*  **************  background  ************/
/*  **************  gradient : button & heart  ************/
/*  **************  label  ************/
/*  **************    shadow    ***************/
/* *************** Border-radius *************/
@keyframes delay {
  0% {
    transform: translateX(500px) skewX(50deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) skewX(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes delayCheck {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes visible {
  0% {
    transform: rotateX(30deg) translateX(30px) skewX(30deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    background-size: 120% 100%;
    z-index: -1;
  }
}
@keyframes moveLetters_1 {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
  33.3%, 66% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_2 {
  0% {
    transform: translateX(150vw) translateY(0vw) rotate(360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-25vw) translateY(40vw) rotate(-360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_3 {
  0% {
    transform: translateX(-55vw) translateY(60vw) rotate(-180deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(180deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_4 {
  0% {
    transform: translateX(75vw) translateY(90vw) rotate(-360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_5 {
  0% {
    transform: translateX(-85vw) translateY(-100vw) rotate(-155deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(85vw) translateY(40vw) rotate(155deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_6 {
  0% {
    transform: translateX(195vw) translateY(0vw) rotate(360deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(-360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_7 {
  0% {
    transform: translateX(95vw) translateY(-130vw) rotate(-300deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(300deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes moveLetters_8 {
  0% {
    transform: translateX(95vw) translateY(-130vw) rotate(-300deg);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0) translateY(0vw) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw) translateY(40vw) rotate(300deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes flip {
  0%, 100% {
    transform: rotateX(3deg);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateX(3deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  50% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
    z-index: -1;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  padding: 3rem 0 4.25rem 0;
}
.fonctionnement-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0.6rem;
  margin-bottom: 1.625rem;
  width: 100%;
}
@media (width < 375px) {
  .fonctionnement-title {
    margin-left: 0.8rem;
  }
}
@media (width >= 425px) {
  .fonctionnement-title {
    margin-left: 0.5rem;
  }
}
@media (width >= 768px) {
  .fonctionnement-title {
    margin-left: 0.995rem;
  }
}
@media (width >= 1024px) {
  .fonctionnement-title {
    margin-left: -0.7rem;
  }
}
@media (width >= 1440px) {
  .fonctionnement-title {
    margin-left: -3px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: start;
  gap: 1.558rem;
  padding-block: unset;
  justify-content: center;
  align-items: center;
}
@media (width >= 1440px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 36.51px;
    margin-left: -1rem;
  }
}
@media (1440px > width >= 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 36.51px;
    margin-left: -1.5rem;
  }
}
.container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
}
.container_content {
  width: 20.125rem;
}
@media (width < 375px) {
  .container_content {
    width: 95%;
  }
}
@media (width >= 768px) {
  .container_content {
    width: 100%;
  }
}
.container_content:hover, .container_content:active {
  transform: scale(1.005);
}
.container_content:hover ::before, .container_content:active ::before {
  color: #9356dc;
}
.container_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  position: relative;
  z-index: 0;
}
@media (width < 375px) {
  .container_text {
    max-width: 100%;
  }
}
.container_text > i {
  margin-right: 1.688rem;
  color: #7e7e7e;
}
@media (width >= 768px) {
  .container_text > i {
    margin-right: 2rem;
  }
}
@media (width >= 1024px) {
  .container_text > i {
    margin-right: 1rem;
  }
}

.header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 63px;
}
@media (width >= 1024px) {
  .header > a {
    padding: 1.031rem 0 1.031rem 0;
  }
}

/* logo */
.logo {
  align-items: end;
  display: flex;
  margin-block: unset;
  position: relative;
}
.logo_accueil {
  align-items: end;
  display: flex;
  justify-content: center;
  left: unset;
  position: relative;
}
@media (width <= 375px) {
  .logo_accueil {
    left: 0.5rem;
  }
}
.logo_accueil > img {
  padding: 0 1.188rem 0 1rem;
  height: 34.36px;
}
@media (width < 375px) {
  .logo_accueil > img {
    height: 2rem;
  }
}
@media (width >= 768px) {
  .logo_accueil > img {
    height: 2.25rem;
    padding: 0 1.188rem 0 1rem;
    width: auto;
  }
}
@media (width >= 1440px) {
  .logo_accueil > img {
    height: 2.125rem;
  }
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  background-color: #f6f6f6;
  padding: 2.438rem 0 3.5625rem 0;
  text-align: center;
}
.reservation_title {
  width: 17.188rem;
}
@media (width >= 768px) {
  .reservation_title {
    width: unset;
  }
}
.reservation_title > h2 {
  margin-block: unset;
}
.reservation_p {
  margin-block-end: 1.688rem;
  width: 19.688rem;
}
@media (width >= 768px) {
  .reservation_p {
    width: auto;
  }
}
.reservation_p > p {
  margin-block-end: unset;
}
.reservation > a {
  text-decoration: none;
}

.restaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  background-color: #f6f6f6;
  padding: 3.375rem 0 3rem 0;
}
@media (width >= 768px) {
  .restaurants {
    padding-bottom: unset;
  }
}
.restaurants_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
}
@media (1024px <= width) {
  .restaurants_box {
    padding-left: 10%;
  }
}
@media (1024px >= width >= 768px) {
  .restaurants_box {
    display: flex;
    flex-direction: column;
  }
}
@media (width >= 1024px) {
  .restaurants_box {
    padding-left: unset;
  }
}
.restaurants-title {
  margin: 0 0 1.25rem 1.25rem;
}
@media (width >= 1024px) {
  .restaurants-title {
    margin-left: unset;
  }
}
.restaurants-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: 0 0 0 1.063rem;
}
@media (1024px <= width) {
  .restaurants-cards {
    flex-direction: row;
    margin-left: unset;
  }
}
@media (1024px >= width >= 768px) {
  .restaurants-cards {
    display: flex;
    flex-direction: row;
  }
}
.restaurants-cards > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  color: black;
  text-decoration: none;
}
.restaurants_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: unset;
  width: 100%;
}
@media (1024px <= width) {
  .restaurants_container_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (1024px >= width >= 768px) {
  .restaurants_container_box {
    display: flex;
    flex-direction: column;
  }
}
.restaurants_heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  margin: unset;
  position: relative;
  z-index: 1;
}
.restaurants_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  background-color: white;
  border-radius: 0.938rem;
  margin: 0 0 1.125rem 0;
}
.restaurants_card > img {
  border-radius: 0.938rem 0.938rem 0 0;
  height: 10.688rem;
  object-fit: cover;
  width: 21.25rem;
}
@media (width >= 768px) {
  .restaurants_card > img {
    object-fit: cover;
    top: 18rem;
    width: 18rem;
    height: 8rem;
  }
}
@media (width >= 1024px) {
  .restaurants_card > img {
    object-fit: cover;
    top: 18rem;
    width: 22.162rem;
  }
}
@media (width < 375px) {
  .restaurants_card > img {
    height: 8rem;
    left: 0rem;
    object-fit: cover;
    width: 18rem;
  }
}
@media (width >= 1440px) {
  .restaurants_card > img {
    object-fit: cover;
    top: 18rem;
    width: 30.625rem;
    height: 10.875rem;
  }
}
.restaurants_card_1 {
  object-position: 0% 70%;
}
@media (width >= 1024px) {
  .restaurants_card_1 {
    object-position: 20% 70%;
  }
}
.restaurants_card_2 {
  object-position: 38% 60%;
}
.restaurants_card_3 {
  object-position: 50% 80%;
}
.restaurants_card_4 {
  object-position: 38% 62%;
}
@media (width >= 1024px) {
  .restaurants_card_4 {
    object-position: 20% 70%;
  }
}
.restaurants_card-title {
  margin: 1rem 0 0 0.813rem;
}
.restaurants_card-subtitle {
  margin: 0.313rem 0 0.75rem 0.813rem;
}

.hart-resto {
  right: -18.313rem;
  top: -3.8rem;
}
.hart-resto > .solid {
  margin-top: -0.0001rem;
}
@media (width < 375px) {
  .hart-resto {
    left: 15.9rem;
  }
}
@media (1024px >= width >= 768px) {
  .hart-resto {
    left: -5%;
    top: 10rem;
  }
}
@media (width >= 1024px) {
  .hart-resto {
    left: -3rem;
    top: 10rem;
  }
}
@media (width >= 1440px) {
  .hart-resto {
    left: -2.8rem;
    top: 13rem;
  }
}
.hart-resto > .fa-xl {
  font-size: 1.313rem;
}

@media (width >= 1024px) {
  .position {
    margin-left: 6.25rem;
  }
}
@media (width >= 1440px) {
  .position {
    margin-left: 6.25rem;
  }
}

@media (width >= 1024px) {
  .footer {
    position: relative;
    top: -2rem;
  }
}
.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  gap: 1rem;
  padding: 1.375rem 1.563rem;
}
.footer_box > a {
  color: white;
  text-decoration: none;
}
@media (width >= 768px) {
  .footer_box {
    flex-direction: row-reverse;
    max-height: 3.375em;
  }
}
@media (768px <= width <= 1024px) {
  .footer_box {
    gap: 3rem;
  }
}
@media (width >= 1024px) {
  .footer_box {
    gap: 4.568rem;
  }
}
.footer_label {
  position: relative;
  margin: unset;
}
.footer_label > a {
  color: white;
  text-decoration: none;
}
.footer_label-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  gap: 0.688rem;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  gap: 0.438rem;
}
@media (width >= 768px) {
  .footer_container {
    flex-direction: row;
    gap: 1rem;
  }
}
.footer_logo > h3 {
  margin: unset;
  width: 8.625rem;
}
.footer_logo :hover {
  transform: scale(1.05);
}
.footer_div {
  height: 1.25rem;
}
.footer_div :hover {
  transform: scale(1.05);
}
.footer_div :active {
  background: transparent;
}

.partenaire {
  padding-right: 10rem;
}
@media (90rem >= width >= 768px) {
  .partenaire {
    padding-right: 0.5rem;
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  background-color: #eaeaea;
  gap: 1.063rem;
  height: 3.125rem;
  margin-top: 0.25rem;
}
.localisation__text {
  color: #353535;
  background-color: transparent;
  border-color: transparent;
  width: 6.813rem;
}
.localisation > i {
  color: #7e7e7e;
  margin-right: 0.625rem;
}
.localisation :focus-visible {
  outline: transparent;
}

body {
  margin: unset;
  display: flex;
  flex-direction: column;
}

@media (width >= 768px) {
  .body_menu {
    align-items: center;
    margin: unset;
    margin-block: unset;
  }
}

h2 {
  margin-block: unset;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  background-color: #353535;
  height: 11.625rem;
  min-width: 100%;
}
@media (width >= 1024px) {
  footer {
    align-items: flex-end;
    max-height: 7.125em;
    min-width: 100%;
  }
}
@media (width >= 768px) {
  footer {
    justify-content: flex-end;
    height: 8rem;
  }
}

body,
html,
button,
input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1.125em;
}

.fa-arrow-left {
  color: #353535;
  font-size: 1.4rem;
}
@media (width <= 375px) {
  .fa-arrow-left {
    font-size: 1.2em;
  }
}
@media (width >= 1440px) {
  .fa-arrow-left {
    font-size: 1.8em;
  }
}

@media (1024px >= width >= 768px) {
  .fonctionnement_btn {
    font-size: 1.2em;
  }
}
@media (1024px <= width) {
  .fonctionnement_btn {
    font-size: 1rem;
  }
}

input,
button,
.footer_label {
  font-size: 1em;
  color: white;
}
@media (768px <= width < 1024px) {
  input,
  button,
  .footer_label {
    font-size: 0.875em;
  }
}
@media (width >= 1024px) {
  input,
  button,
  .footer_label {
    font-size: 1em;
  }
}

footer {
  color: white;
}

.footer_logo > h3 {
  font-size: 1.125em;
  font-style: normal;
  font-weight: normal;
}

.footer_logo,
.loading-box {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.label {
  font-size: 1em;
}
@media (width < 375px) {
  .label {
    font-size: 0.85em;
  }
}

.loading-text {
  font-size: 6vw;
  line-height: 64px;
  letter-spacing: 0.3em;
}
@media (width <= 375px) {
  .loading-text {
    font-size: 6vw;
    letter-spacing: 0.2em;
  }
}

.location > .fa-location {
  font-size: 1em;
  color: #353535;
}

.location_text {
  font-weight: 500;
  font-style: normal;
}

.menu_restaurant_title > h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}
@media (width <= 375px) {
  .menu_restaurant_title > h2 {
    font-size: 1.4em;
  }
}
.menu_section > h3 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
}
.menu_container_content > h4 {
  font-size: 1.125em;
  font-weight: 500;
}
.menu_container_content > p {
  font-size: 0.94em;
  font-weight: 300;
}
.menu_container_content_price > p {
  font-size: 0.94em;
  font-weight: 700;
  color: #353535;
}
@media (width <= 375px) {
  .menu_container_content_price > p {
    font-size: 0.7em;
  }
}

p {
  font-size: 1.125em;
  font-weight: 300;
  color: #7e7e7e;
  font-style: normal;
}
@media (width <= 375px) {
  p {
    font-size: 1em;
  }
}

.restaurants_card-label {
  font-size: 0.875em;
  font-weight: 500;
}

.restaurants_card-subtitle {
  font-size: 1.0625rem;
  color: black;
  font-weight: 300;
}

@media (width >= 1024px) {
  .reservation_title > h2 {
    font-size: 2.5rem;
  }
}

.number {
  font-size: 0.886rem;
}
@media (width >= 1024px) {
  .number {
    font-size: 0.63rem;
  }
}
@media (width >= 1440px) {
  .number {
    font-size: 0.886rem;
  }
}

.reservation_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  background-image: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 1.563rem;
  color: white;
  height: 3.125rem;
  position: relative;
  width: 13.625rem;
  z-index: 1;
}
.reservation_btn:hover {
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  background-image: linear-gradient(to top, #a16be0 -11.44%, #ff93e1 123.93%);
  transform: scale(1.01);
}
.reservation_btn:hover::after {
  opacity: 1;
}
.reservation_btn::after {
  content: "";
  background-image: linear-gradient(to top, #a16be0 -11.44%, #ff93e1 123.93%);
  border-radius: 1.563rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}

.fonctionnement_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  color: black;
  display: flex;
  height: 4.525rem;
  padding-inline: unset;
  width: 20.155rem;
}
@media (375px > width) {
  .fonctionnement_btn {
    width: 17rem;
    height: 4rem;
  }
}
@media (width >= 425px) {
  .fonctionnement_btn {
    width: 100%;
  }
}
@media (width >= 768px) {
  .fonctionnement_btn {
    width: 38rem;
  }
}
@media (width >= 1024px) {
  .fonctionnement_btn {
    width: 14.25rem;
  }
}
@media (width >= 1440px) {
  .fonctionnement_btn {
    width: 20.155rem;
  }
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  background-color: #9356dc;
  border: transparent;
  border-radius: 100%;
  color: white;
  position: relative;
  height: 1.5rem;
  justify-content: center;
  left: 0.7rem;
  text-align: center;
  width: 1.5rem;
  z-index: 1;
}
@media (width >= 1024px) {
  .number {
    height: 1.3rem;
    width: 1.3rem;
    left: 0.5rem;
  }
}
@media (width >= 1440px) {
  .number {
    height: 1.5rem;
    width: 1.5rem;
    left: 0.7rem;
  }
}

.solid {
  opacity: 0;
  transition-property: all;
  transition-duration: 150ms;
  transform: scale(1.05);
}
.solid:hover {
  color: transparent;
  opacity: 1;
}
.solid:hover::before {
  background-clip: text;
  background-image: linear-gradient(to top, #ff79da -15.44%, #9356dc 120.93%);
  color: transparent;
  cursor: pointer;
  -webkit-background-clip: text;
}

.regular {
  margin-right: -1.25rem;
}

/* *************   label page resto ********** */
.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  background-color: #99e2d0;
  color: #008766;
  margin: unset;
  padding: 0.438rem 0.6rem 0.375rem 0.563rem;
  position: relative;
  z-index: 1;
}
.label_box {
  height: 0;
}
@media (width >= 768px) {
  .label_box {
    height: 1.125rem;
  }
}
.label_hidden {
  margin: unset;
  visibility: hidden;
}

/* *************   label page d'accueil ********** */
.LB_1 {
  align-items: center;
  display: flex;
  height: 29px;
  padding: unset;
  right: -16.5rem;
  top: -66rem;
  width: 80px;
}
@media (width < 375px) {
  .LB_1 {
    right: -14.5rem;
    top: -55rem;
    width: 4rem;
  }
}
@media (width >= 768px) {
  .LB_1 {
    right: -12.5rem;
    top: -27rem;
  }
}
@media (width >= 1024px) {
  .LB_1 {
    right: -16.3rem;
    top: -27rem;
  }
}
@media (width >= 1440px) {
  .LB_1 {
    right: -25rem;
    top: -32rem;
  }
}

.LB_2 {
  align-items: center;
  display: flex;
  height: 1.813rem;
  padding: unset;
  right: -16.5rem;
  top: -49rem;
  width: 5rem;
}
@media (width < 375px) {
  .LB_2 {
    right: -14.5rem;
    top: -41rem;
    width: 4rem;
  }
}
@media (width >= 768px) {
  .LB_2 {
    right: -32.5rem;
    top: -28.1rem;
  }
}
@media (width >= 1024px) {
  .LB_2 {
    right: -46rem;
    top: -28rem;
  }
}
@media (width >= 1440px) {
  .LB_2 {
    right: -63rem;
    top: -33rem;
  }
}

.loading-box {
  animation: loader 7s ease-out forwards;
  background-color: #353535;
  display: block;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.loading-box .loading-container {
  color: white;
  position: relative;
  text-align: center;
  top: 50%;
  width: 100%;
}
.loading-box .loading-container:before {
  content: "";
  animation: movingLine 4s infinite ease-in-out both;
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%) left/0% 100% no-repeat;
  border-radius: 50%;
  height: 3px;
  margin-top: 80px;
  position: absolute;
}
.loading-box .loading-text {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}
.loading-box .loading-text .span_1,
.loading-box .loading-text .span_2,
.loading-box .loading-text .span_3,
.loading-box .loading-text .span_4,
.loading-box .loading-text .span_5,
.loading-box .loading-text .span_6,
.loading-box .loading-text .span_7,
.loading-box .loading-text .span_8 {
  animation-timing-function: cubic-bezier(0, 0.74, 0.22, 0.6);
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}
.loading-box .loading-text .span_1 {
  animation: moveLetters_1 4s infinite;
  transform-origin: 40% 80%;
}
.loading-box .loading-text .span_2 {
  animation: moveLetters_2 4s infinite;
}
.loading-box .loading-text .span_3 {
  animation: moveLetters_3 4s infinite;
}
.loading-box .loading-text .span_4 {
  animation: moveLetters_4 4s infinite;
}
.loading-box .loading-text .span_5 {
  animation: moveLetters_5 4s infinite;
}
.loading-box .loading-text .span_6 {
  animation: moveLetters_6 4s infinite;
}
.loading-box .loading-text .span_7 {
  animation: moveLetters_7 4s infinite;
}
.loading-box .loading-text .span_8 {
  animation: moveLetters_8 4s infinite;
}
.loading-box .loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.loading-box .loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-box .loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}
.loading-box .loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}
.loading-box .loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}
.loading-box .loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}
.loading-box .loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}
.loading-box .loading-text span:nth-child(8) {
  animation-delay: 0.8s;
}
.loading-box .loader_ball {
  display: inline-block;
  transform: translateZ(1px);
}
.loading-box .loader_ball::after {
  content: "";
  animation: flip 4s cubic-bezier(1, 1.12, 0.39, 1.02) infinite;
  background-image: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 50%;
  display: inline-block;
  height: 1.4rem;
  margin: 0 8px;
  width: 1.4rem;
}
@media (width <= 375px) {
  .loading-box .loader_ball::after {
    height: 1rem;
    width: 1rem;
  }
}
@media (width >= 768px) {
  .loading-box .loader_ball::after {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (width >= 1024px) {
  .loading-box .loader_ball::after {
    height: 3rem;
    width: 3rem;
  }
}
@media (width >= 1440px) {
  .loading-box .loader_ball::after {
    height: 4rem;
    width: 4rem;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-bottom: -2rem;
  padding-bottom: 2.5rem;
  position: relative;
  top: -3.5rem;
  z-index: 1;
}
@media (768px <= width) {
  .menu {
    position: relative;
    min-width: 73.19%;
    width: 60%;
    top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (768px > width >= 425px) {
  .menu {
    top: 0;
    margin-bottom: 0;
  }
}
@media (width >= 1024px) {
  .menu {
    top: 6rem;
    margin-bottom: 6rem;
  }
}
@media (width >= 1440px) {
  .menu {
    top: 11rem;
    margin-bottom: 11rem;
  }
}
.menu_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
  padding-bottom: 2.5rem;
}
.menu_restaurant {
  padding: 2rem 0 0 1.063rem;
  margin-bottom: 2.5rem;
}
@media (768px <= width) {
  .menu_restaurant {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
}
.menu_restaurant_heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  justify-content: flex-end;
  margin-right: 3rem;
  position: relative;
  top: -1rem;
  z-index: 1;
}
@media (768px <= width) {
  .menu_restaurant_heart {
    top: 0;
  }
}
.menu_section {
  margin: 0 0.813rem 0 0.813rem;
}
@media (768px <= width) {
  .menu_section {
    min-width: 70%;
    overflow: hidden;
  }
}
.menu_section > h3 {
  margin-top: 0;
}
.menu_title {
  animation: delay 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
  transform: scale(0);
  text-transform: uppercase;
}
.menu_title::before {
  content: "";
  background-color: #99e2d0;
  display: block;
  height: 0.188rem;
  position: absolute;
  top: 1.5rem;
  width: 2.5rem;
}

.commander {
  display: flex;
  justify-content: center;
}

.logo-resto {
  width: 10.125rem;
  padding: 0 19px 0 16px;
}
@media (width >= 1440px) {
  .logo-resto {
    width: 12.5rem;
  }
}

.header_box {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (width >= 1440px) {
  .header_box {
    height: 6.019rem;
  }
}
.header_box_item {
  align-items: center;
  display: flex;
  height: 3.938rem;
}
@media (width >= 1440px) {
  .header_box_item {
    height: 6.019rem;
  }
}
@media (1440rem > width >= 768px) {
  .header_box_item {
    height: 5rem;
  }
}

.entete {
  display: flex;
  max-height: 25rem;
  min-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 17.188rem;
}
.entete > img {
  max-width: 100%;
  object-fit: cover;
}
@media (width >= 425px) {
  .entete > img {
    height: 15.0166rem;
    width: 100%;
  }
}
@media (width >= 768px) {
  .entete > img {
    height: 20rem;
    width: 100%;
  }
}
@media (width >= 1024px) {
  .entete > img {
    height: 25rem;
    width: 100%;
  }
}
@media (width >= 1440px) {
  .entete > img {
    height: 30.625rem;
    width: 100%;
  }
}
.entete_img_1 {
  object-position: 0px 20%;
}
@media (width <= 320px) {
  .entete_img_1 {
    object-position: 60% 60%;
  }
}
@media (width >= 768px) {
  .entete_img_1 {
    object-position: 0% 60%;
  }
}
@media (width >= 1024px) {
  .entete_img_1 {
    object-position: 0% 60%;
  }
}
@media (width >= 1440px) {
  .entete_img_1 {
    object-position: 0% 50%;
  }
}
.entete_img_2 {
  object-position: 38% 52%;
}
@media (width <= 320px) {
  .entete_img_2 {
    object-position: 68% 60%;
  }
}
@media (width >= 768px) {
  .entete_img_2 {
    object-position: 0% 63%;
  }
}
@media (width >= 1024px) {
  .entete_img_2 {
    object-position: 0% 61%;
  }
}
@media (width >= 768px) {
  .entete_img_3 {
    object-position: 0% 95%;
  }
}
@media (width >= 1024px) {
  .entete_img_3 {
    object-position: 10% 88%;
  }
}
@media (width >= 1440px) {
  .entete_img_3 {
    object-position: 10% 82%;
  }
}
.entete_img_4 {
  object-position: 38% 62%;
}
@media (width >= 768px) {
  .entete_img_4 {
    object-position: 20% 90%;
  }
}

@media (width >= 1024px) {
  .footer_menu_box {
    top: unset;
  }
}

.menu_container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  animation: delay 250ms cubic-bezier(0.25, 0.45, 0.55, 0.95) both;
  border-radius: 0.938rem;
  justify-content: space-between;
  padding: 0 0 0 0.938rem;
}
.menu_container_box:hover .menu_container_content {
  display: block;
  min-width: calc(100% - 5.376rem);
  overflow: hidden;
  transition: min-width 0.5s ease-in-out;
}
.menu_container_box:hover .menu_container_content_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  height: 4.313rem;
  min-width: 1.688rem;
  padding: 0 10px 0 10px;
  animation: delayCheck 0.5s ease-in-out;
}
.menu_container_box:hover .menu_container_content_check {
  display: block;
  visibility: visible;
  overflow: hidden;
  z-index: 0;
  animation: delayCheck 0.5s ease-in-out;
}
.menu_container_content {
  height: 100%;
  min-width: calc(100% - 2.626em);
  overflow: hidden;
  position: relative;
}
.menu_container_content > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin: 0;
  position: relative;
  top: 1rem;
}
@media (width <= 375px) {
  .menu_container_content > h4 {
    font-size: 1rem;
  }
}
.menu_container_content > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: unset;
  margin-top: unset;
  padding-right: 0.5rem;
  position: relative;
  transition-duration: 0.5s;
  top: 30%;
  position: relative;
  top: 1.3rem;
}
.menu_container_content_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  height: 4.313rem;
  position: relative;
  width: 2.626rem;
}

.delay {
  animation-name: delay;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.delay_1 {
  animation-delay: 250ms;
}
.delay_2 {
  animation-delay: 360ms;
}
.delay_3 {
  animation-delay: 450ms;
}
.delay_4 {
  animation-delay: 550ms;
}
.delay_40 {
  animation-delay: 650ms;
}
.delay_5 {
  animation-delay: 2s;
}
.delay_6 {
  animation-delay: 2.25s;
}
.delay_7 {
  animation-delay: 2.35s;
}
.delay_8 {
  animation-delay: 2.45s;
}
.delay_9 {
  animation-delay: 3s;
}
.delay_10 {
  animation-delay: 3250ms;
}
.delay_11 {
  animation-delay: 3350ms;
}
.delay_12 {
  animation-delay: 3450ms;
}

.header_arrow {
  position: relative;
  margin-left: -3.437rem;
}
@media (width <= 320px) {
  .header_arrow {
    position: relative;
    left: 1rem;
  }
}
@media (width >= 425px) {
  .header_arrow {
    position: relative;
    left: -2rem;
  }
}
@media (width >= 768px) {
  .header_arrow {
    position: relative;
    left: -11rem;
  }
}
@media (width >= 1024px) {
  .header_arrow {
    position: relative;
    left: -20rem;
  }
}
@media (width >= 1440px) {
  .header_arrow {
    position: relative;
    left: -32rem;
  }
}
.header_arrow :active {
  color: white;
}
@media (width <= 375px) {
  .header_arrow > .fa-2x {
    font-size: 1.4em;
  }
}
.header_box {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header_box_item {
  align-items: center;
  display: flex;
  height: 3.938rem;
}
@media (width >= 1440px) {
  .header_box_item {
    height: 6rem;
  }
}
@media (width >= 768px) {
  .header_box_item {
    height: 5rem;
  }
}

.menu_container_content_check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  flex-direction: column;
  align-items: start;
  margin: unset;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0rem 0.938rem 0.938rem 0rem;
  color: white;
  height: 4.313rem;
  width: 3.688rem;
  overflow: hidden;
  visibility: hidden;
}
.menu_container_content_check > .fa-circle-check {
  border-radius: 100%;
  color: white;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  position: relative;
  text-align: center;
  top: 1.8rem;
}

.btn_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: unset;
  box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0rem 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.125);
  border: transparent;
  cursor: pointer;
  background-color: white;
  border-radius: 0.938rem;
  box-shadow: 0rem 0.25rem 0.25rem 0.15rem rgba(0, 0, 0, 0.03);
  height: 4.313rem;
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
