@mixin shadow {
    box-shadow: $shadow lighten($color-shadow, $lighten-shadow);
    -webkit-box-shadow: $shadow lighten($color-shadow, $lighten-shadow);
    -moz-box-shadow: $shadow lighten($color-shadow, $lighten-shadow);
}

@mixin shadow-fonctionnement {
    box-shadow: $shadow lighten($color-shadow, $lighten-shadow_fonctionnement);
    -webkit-box-shadow: $shadow lighten($color-shadow, $lighten-shadow_fonctionnement);
    -moz-box-shadow: $shadow lighten($color-shadow, $lighten-shadow_fonctionnement);
}

@mixin shadow-reservation {
    box-shadow: $shadow darken($color-shadow, $lighten-shadow_reservation);
    -webkit-box-shadow: $shadow darken($color-shadow, $lighten-shadow_reservation);
    -moz-box-shadow: $shadow darken($color-shadow, $lighten-shadow_reservation);
}

@mixin btn {
    @include box;
    @include shadow;
    border: transparent;
    cursor: pointer
}

@mixin btn-base {
    @include box;
    @include shadow;
    border: transparent;
    cursor: context-menu;
}

@mixin box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: unset;

}

@mixin box_fonct {
    @include box;
    flex-direction: column;
    align-items: start;
    margin: unset;
}

@mixin container_box {
    @include box_fonct;
}

@mixin visible {
    animation-name: visible;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

@mixin delay {
    animation-name: delay;
    animation-duration: 700ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@mixin span {
    animation-timing-function: cubic-bezier(0, .74, .22, .6);
    transform: translatex(0);
    position: relative;
    display: inline-block;
    opacity: 0;
    text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

@mixin overflow {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}