.menu_container_content_check {
    @include box_fonct;
    align-items: center; 
    background-color: #99E2D0;
    border-radius: $bd-rad-check;
    color: $white;
    height: 4.313rem;
    width: 3.688rem;
    overflow: hidden;
    visibility: hidden;
    
    &>.fa-circle-check {
        border-radius: $bd-rad-circle;
        color: $white;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        position: relative;
        text-align: center;
        top: 1.8rem;
    }
}