.menu_container_content_check{
    background-color: #99E2D0;
    min-width: 3.688rem;
    max-width:fit-content;
    height: 4.313rem;
    border-radius: 0rem 0.938rem 0.938rem 0rem;
    visibility: hidden;
    
    
}