.menu_container_content_check {
    @include box_fonct;
    align-items: center; 
    background-color: #99E2D0;
    border-radius: $bd-rad-check;
    color: $white;
    height: 4.313rem;
    max-width: fit-content;
    min-width: 3.688rem;
    overflow: hidden;
    visibility: hidden;
    

    &>.fa-circle-check {

        color: $white;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: $bd-rad-circle;
        font-weight: bolder;


    }




}