.header {
    &_arrow {
        margin: 1.4rem 0 0 1.063rem;
        &>i{
            position: relative;
            font-size: 1.2em;
            left: -2rem;
        }

        &>i.fa-arrow-left .fa-2x {
           
            font-size: 1em;
           
        }


    }

    &_box {
        display: flex;
        justify-content: center;
    }

    @media (width >=48em) {
        &_arrow {
            visibility: visible;
            margin: 1.875rem 0 0 1.063rem;
            text-align: start;
            max-height: 6rem;

            &>i {
                position: relative;
                left: -14rem;
                top: -.5rem;
                color: $black;
                
               
            }
        }
    }
    @media (width >=23em) {

        &_arrow>i {
            position: relative;
            left: -2rem;
            top: -.5rem;
            font-size: 1.7em;
        }
    }
    @media (width >=26.5em) {

        &_arrow>i {
            position: relative;
            left: -5rem;
            top: -.5rem;
            font-size: 1.7em;
        }
    }
    @media (width >=48em) {
        &_arrow>i {
            position: relative;
            left: -14rem;
            top: -.3rem;
        }
    }
    @media (width >=64em) {
        &_arrow>i {
            position: relative;
            left: -19rem;
            top: .5rem;
            font-size: 2em;
        }
    }

    @media (width >=90em) {
        &_arrow>i {
            position: relative;
            left: -34rem;
            
        }
    }

    @media (width >=160em) {
        &_arrow>i {
            position: relative;
            left: -62rem;
        }
    }

    &_box {
        display: flex;
    }



}