.header {
    &_arrow {
        position: relative;
        margin-left: -3.437rem;

        @media (width <=320px) {
            position: relative;
            left: 1rem;
        }

        @media (width >=425px) {
            position: relative;
            left: -2rem;
        }

        @media (width >=768px) {
            position: relative;
            left: -11rem;
        }

        @media (width >=1024px) {
            position: relative;
            left: -20rem;
        }

        @media (width >=1440px) {
            position: relative;
            left: -32rem;
        }

        :active {
            color: $white;
        }

        &>.fa-2x {
            @media (width <=375px) {
                font-size: 1.4em;
            }
        }
    }

    &_box {
        align-items: center;
        display: flex;
        justify-content: center;

        &_item {
            align-items: center;
            display: flex;
            height: 3.938rem;

            @media (width >=1440px) {
                height: 6rem;
            }

            @media (width >=768px) {
                height: 5rem;
            }
        }
    }
}