.header {
    &_arrow {
       
        :active{
            color:$white;
        }

        &>i.fa-arrow-left .fa-2x {
            font-size: 1em;

        }
    }

    &_box {
        
        display: flex;
        justify-content: center;
        align-items: center;
        @media (width >=90em) {

           
        }

        &_item{
            display: flex;
            align-items: center;
            width: 45%;
            
            height: 3.938rem;
            @media (width >=90em) {

                height: 6rem;
            }
        
        }

    

    }

   
 .logo{  
       margin-block: unset;
    
 }   



}