.menu {

    &_container {
        &_box {
            @include box;
            animation: delay 250ms cubic-bezier(0.25, 0.45, 0.55, 0.95) both;
            border-radius: $bd-rd-menu-container-box;
            justify-content: space-between;
            padding: 0 0 0 0.938rem;

            &:hover {
                .menu_container_content {
                    display: block;
                    min-width: calc(95% - 5.376rem);
                    overflow: hidden;
                    transition: min-width .5s ease-in-out;

                    &_price {
                        @include box_fonct;
                        align-items: center;
                        height: 4.313rem;
                        min-width: 1.688rem;
                        padding: 0 10px 0 10px;
                        animation: delayCheck .5s ease-in-out;
                    }

                    &_check {
                        display: block;
                        visibility: visible;
                        overflow: hidden;
                        z-index: 0;
                        animation: delayCheck .5s ease-in-out;
                    }
                }
            }
        }

        &_content {
            height: 100%;
            min-width: calc(100% - 2.626em);
            overflow: hidden;
            position: relative;

            &>h4 {
                @include overflow;
                display: block;
                margin: 0;
                position: relative;
                top: 1rem;

                @media (width<=375px) {
                    font-size: 1rem;
                }
            }

            &>p {
                @include overflow;
                margin-bottom: unset;
                margin-top: unset;
                padding-right: 0.5rem;
                position: relative;
                transition-duration: .5s;
                top: 30%;
                position: relative;
                top: 1.3rem;
            }

            &_price {
                @include box_fonct;
                align-items: center;
                height: 4.313rem;
                position: relative;
                width: 2.626rem;
            }
        }
    }
}

.delay {
    @include delay;

    &_1 {
        animation-delay: 250ms;
    }

    &_2 {
        animation-delay: 360ms;
    }

    &_3 {
        animation-delay: 450ms;
    }

    &_4 {
        animation-delay: 550ms;
    }

    &_40 {
        animation-delay: 650ms;
    }

    &_5 {
        animation-delay: 2s;
    }

    &_6 {
        animation-delay: 2.25s;
    }

    &_7 {
        animation-delay: 2.35s;
    }

    &_8 {
        animation-delay: 2.45s;
    }

    &_9 {
        animation-delay: 3s;
    }

    &_10 {
        animation-delay: 3250ms;
    }

    &_11 {
        animation-delay: 3350ms;
    }

    &_12 {
        animation-delay: 3450ms;
    }
}