
.reservation_btn{
    @include btn;
    border-radius: $bd-rad;
    background-image: $linear-gradient;
    color: $white;
    height: 3.125rem;
    width: 13.625rem;
    position: relative;
    z-index: 1;
    
    &:hover {
        @include shadow-reservation;
        transform: scale(1.01);
        background-image: $linear-gradient-light;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        border-radius: $bd-rad;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background-image: $linear-gradient-light;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

    .fonctionnement_btn {
        display: flex;
        @include btn;
        border-radius: $bd-rad_fonct;
        width: 20.155rem;
        background-image: $background-reservation;
        height: 4.5rem;
        margin-left: 0.75rem;
        @media (64em <= width <= 90em){
            width: 18rem;
        }
        @media (width <= 90em ){
            width: 20.155rem;
        }
    
    }
    
    .btn_menu{
        display: flex;
        @include btn;
        border-radius: $bd-radius_menu;
        box-shadow: $shadow_menu;
        background-color: $white;
        height: 4.313rem;
        margin-left: 0.75rem;

    }

