.reservation_btn {
    @include btn;
    background-image: $linear-gradient;
    border-radius: $bd-rad;
    color: $white;
    height: 3.125rem;
    position: relative;
    width: 13.625rem;
    z-index: 1;

    &:hover {
        @include shadow-reservation;
        background-image: $linear-gradient-light;
        transform: scale(1.01);

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        background-image: $linear-gradient-light;
        border-radius: $bd-rad;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 250ms;
        z-index: -1;
    }
}

.fonctionnement_btn {
    @include btn;
    background-color: $background-reservation;
    border-radius: $bd-rad_fonct;
    color: $black;
    display: flex;
    height: 4.525rem;
    padding-inline: unset;
    width: 20.155rem;

    @media (375px >width) {
        width: 17rem;
        height: 4rem;
    }

    @media (width >=425px) {
        width: 100%;
    }

    @media (width >=768px) {
        width: 38rem;
    }

    @media (width >=1024px) {
        width: 14.25rem;
    }

    @media (width >=1440px) {
        width: 20.155rem;
    }
}

.btn_menu {
    @include btn;
    background-color: $white;
    border-radius: $bd-radius_menu;
    box-shadow: $shadow_menu;
    display: flex;
    height: 4.313rem;
    margin-left: 0.75rem;
    position: relative;
    z-index: 1;
}