.container {
    @include box_fonct;
    align-items: center;
    gap: 1.558rem;

    @media (width >=64rem) {
        flex-direction: row;
        justify-content: space-evenly;
        gap: unset;
    }

    &_box {
        @include box;
    }

    &_content ,
    &_text
    {
        @include box;
        position: relative;
        z-index: 0;
        max-width: 90%;
        @media (width >=26em) {
            max-width: 100%;
        }

        &:hover,
        &:active {
            
            transform: scale(1.005);

            ::before {
                color: $color-primary;
            }
        }

        &>i {
            margin-right: 0.625rem;
            color: $icon;
           
            @media (width >=48rem) {
                margin-right: 2rem;
            }
            @media (width >=64rem) {
                margin-right: 1rem;
            }

            
        }
    }
}