.number {
    @include box_fonct;
    background-color: $color-primary;
    border: $bd-color_transp;
    border-radius: $bd-rad-circle;
    color: $white;
    position: relative;
    height: 1.5rem;
    left: 1.5rem;  
    padding: 0.318rem 0 0.273rem 0.5rem;
    width: 1.5rem;
    z-index: 1;

    @media (width <=23.438em) {
        left: 1.5rem; 
    }
    @media (width >=48em) {
        //left: 3.5rem;
    }
    @media (width >=64em) {
        left: 2rem;
    }
    @media (width >=90em) {
        left: 2rem;
    }
    
}