.footer {
    @include box;
    

    &_box {
        @include box_fonct;
        gap: 1rem;
        padding: 1.375rem 1.563rem;
        &>a{
            color:$white;
            text-decoration: none;
        }
        @media (width >= 64em) {
            flex-direction: row-reverse;
            gap: 3rem;
          }
    }


    &_label {
        position: relative;
        margin: unset;
        &>a{
            color: $white;
            text-decoration: none;
            
        }
        
            
        &-block {
            @include box;
            gap: 0.688rem
        }
    }

    &_container {
        @include box-fonct;
        gap: 0.438rem;
        @media (width >= 64em) {
            flex-direction: row;
            gap:1rem;
          }
    }

    &_logo {

        &>h3 {
            margin: unset;
        }
        :hover{
            transform: scale(1.05);
            
        }
        
        
    }

    &_div {
        height: 1.25rem;
        :hover{
            transform: scale(1.05);
            
        }
        :active{
            background-image: $linear-gradient;
        }

    }
}
.partenaire{
    padding-right: 2rem;
}