.footer {
    @include box;
   

    &_box {
        @include box_fonct;
        gap: 1rem;
        padding: 1.375rem 1.563rem;

    }


    &_label {
        margin: unset;

        &-block {
            @include box;
            gap: 0.688rem
        }
    }

    &_container {
        @include box-fonct;
        gap: 0.438rem;
    }

    &_logo {

        &>h3 {
            margin: unset;
        }
    }

    &_div {
        height: 1.25rem;
    }
}