/* *************   label page resto ********** */
.label {
    @include box_fonct;
    background-color: $background-label;
    color: $color-label;
    margin: unset;
    padding: 0.438rem 0.6rem 0.375rem 0.563rem;
    position: relative;
    z-index: 1;

    &_box {
        height: 0;

        @media (width >=768px) {
            height: 1.125rem;
        }
    }

    &_hidden {
        margin: unset;
        visibility: hidden;
    }
}

/* *************   label page d'accueil ********** */
.LB_1 {
    align-items: center;
    display: flex;
    height: 29px;
    padding: unset;
    right: -16.5rem;
    top: -66rem;
    width: 80px;

    @media (width <375px) {
        right: -14.5rem;
        top: -55rem;
        width: 4rem;
    }

    @media (width >=768px) {
        right: -12.5rem;
        top: -27rem;
    }

    @media (width >=1024px) {
        right: -16.3rem;
        top: -27rem;
    }

    @media (width >=1440px) {
        right: -25rem;
        top: -32rem;
    }
}

.LB_2 {
    align-items: center;
    display: flex;
    height: 1.813rem;
    padding: unset;
    right: -16.5rem;
    top: -49rem;
    width: 5rem;

    @media (width <375px) {
        right: -14.5rem;
        top: -41rem;
        width: 4rem;
    }

    @media (width >=768px) {
        right: -32.5rem;
        top: -28.1rem;
    }

    @media (width >=1024px) {
        right: -46rem;
        top: -28rem;
    }

    @media (width >=1440px) {
        right: -63rem;
        top: -33rem;
    }
}