.loading-box {
    animation: loader 7s ease-out forwards;
    background-color: $background-footer;
    display: block;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 10;
   
    .loading-container {
        color: $white;
        margin: 0 0 0 3rem;
        max-width: 73%;
        text-align: center;
        top: 50%;
        position: relative;
        width: 100%;

        @media (width <=23.438em) {
            margin-left: 2rem;
        }

        @media (64em >=width >=48em) {
            margin-left: 6rem;
        }

        @media (width >=64em) {
            margin-left: 9.7rem;
        }

        &:before {
            content: '';
            animation: movingLine 4s infinite ease-in-out;
            background: $linear-gradient left/0% 100% no-repeat;
            border-radius: $bd-rad-loader;
            height: 3px;
            margin-top: 80px;
            position: absolute;
            width: 80%;       
            }      
    }

    .loading-text {       
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 32px;

        .span_1,
        .span_2,
        .span_3,
        .span_4,
        .span_5,
        .span_6,
        .span_7,
        .span_8{
           
            @include span;
        }
        .span_1 {
            animation: moveLetters_1 4s infinite;
            transform-origin: 40% 80%;
        }

        .span_2 {
            animation: moveLetters_2 4s infinite;   
        }

        .span_3 {
            animation: moveLetters_3 4s infinite;

        }

        .span_4 {
            animation: moveLetters_4 4s infinite;    
        }

        .span_5 {
            animation: moveLetters_5 4s infinite;         
        }
        .span_6 {
            animation: moveLetters_6 4s infinite;   
        }

        .span_7 {
            animation: moveLetters_7 4s infinite;  
        }

        .span_8 {
            animation: moveLetters_8 4s infinite;  
        }   
    }
    @for $i from 1 through 8 {
        .loading-text span:nth-child(#{$i}) {
            animation-delay: $i * 0.1s;
        }
    }

    .loader_ball {
        display: inline-block;
        transform: translateZ(1px);

        &::after {
            content: '';
            animation: flip 4s cubic-bezier(1, 1.12, .39, 1.02) infinite;
            background-image: $linear-gradient;
            border-radius: $bd-rad-loader;
            display: inline-block;
            height: 1.4rem;
            margin: 0 8px;
            width: 1.4rem;

            @media (width <=23.438em) {
                height: 1rem;
                width: 1rem;
            }

            @media (width >=48em) {
                height: 2.5rem;
                width: 2.5rem;
              }

            @media (width >=64em) {
                height: 3rem;
                width: 3rem;
              }

            @media (width >=90em) {
                height: 4rem;
                width: 4rem;
              }
        }
    }
}