.label {
    @include box_fonct;
    background-color: $background-label;
    color: $color-label;
    margin: unset;
    position: relative;
    bottom: 15rem;
    right: -14.7rem;
    z-index: 1;
    padding: 0.438rem 0.6rem 0.375rem 0.563rem;

    &_box {
        height: 1.125rem;
    }

    &_hidden {
        margin: unset;
        visibility: hidden;

    }
}
