.label {
    @include box_fonct;
    background-color: $background-label;
    color: $color-label;
    margin: unset;
    position: relative;

    z-index: 1;
    padding: 0.438rem 0.6rem 0.375rem 0.563rem;



    @media (64em >=width >=48em) {
        right: -30rem;
        top: 20rem;
    }
    @media (width <=23.438em) {
        height: 2rem;
        padding: 0 .5rem;
        font-size: 1em;

    }



    &_box {
        height: 0;
        @media (width >=48em) {
            height: 1.125rem;
        }
    }

    &_hidden {
        margin: unset;
        visibility: hidden;

    }
}

.LB_1 {
    right: -14rem;
    top: -34rem;
    @media (width <=23.438em) {
        right: -12rem;
        top: -28rem;
    }
    @media (width >=48em) {
       right: -49rem;
        top: -18rem;
    }
    @media (width >=64em) {
        right: -35rem;
        top: -17rem;
    }
}

.LB_2 {
    right: -14rem;
    top: -17rem;

    @media (width <=23.438em) {
        right: -12rem;
        top: -14rem;
    }

    @media (width >=48em) {
        right: -20rem;
        top: -18rem;
    }
    

    @media (width >=64em) {
        right: -62rem;
        top: -17rem;
    }
}