.fonctionnement {
    @include box_fonct;
    padding: 3rem 0 4.25rem 0;

    &-title {
        margin-left: 1.25rem;
        margin-bottom: 1.625rem;
        width: 100%;

        @media (64em >=width >=48em) {
            margin-left: -12.2rem;
        }
        @media (23.438em >=width) {
            margin-left: 2rem;
        }
    }
}


