/* logo */
.logo {
    display: flex;
    align-items: end;
    position: relative;
    left: -100px;

    
    @media (width >=48em) {
        left: calc((100%/2)/-2);
        height: 3rem;
    }

    @media (width <=48em) {

        height: 3rem;
    }

    &_accueil {
        display: flex;
        align-items: end;
        position: relative;
        left: unset;
        justify-content: center;

        &>img {

            height: 2.25rem;
            width: auto;
            padding: 0 1.188rem 0 1rem;


            @media (width >=48em) {
                height: 2.25rem;
                width: auto;
                padding: 0 1.188rem 0 1rem;
            }

            @media (width >=90em) {
                height: 2.125rem;
            }
        }

    }

    &>img {

        height: 2.25rem;
        width: auto;
        padding: 0 1.188rem 0 1rem;

        @media (width <=23.438em) {
            height: 2rem;
        }

        @media (width >=48em) {
            height: 2.25rem;
            width: auto;
            padding: 0 1.188rem 0 1rem;
        }

        @media (width >=90em) {
            height: 2.125rem;
        }
    }
}