.localisation {
    @include box;
    background-color: $background-localisation;
    gap: 1.063rem;
    height: 3.125rem;
    margin-top: 0.25rem;

    &__text {
        color: $icon;  
        background-color: $background-localisation_text;
        border-color: $bd-color_transp;  
        width: 9rem;
    }

    &>i {
        color: $icon;  
        margin-right: 0.625rem;
    }
    
    :focus-visible {
        outline: transparent;
    }
}