.localisation {
    @include box;
    gap: 1.063rem;
    background-color: $background-localisation;
    height: 3.125rem;
    margin-top: 0.25rem;

    &__text {
        width: 9rem;
        background-color: $background-localisation_text;
        border-color: $bd-color_transp;  
        color: $icon;  
    }

    &>i {
        margin-right: 0.625rem;
        color: $icon;  
    }
    
    :focus-visible {
        outline: transparent;
    }
}