.restaurants {
    @include box;
    background-color: $background-reservation;
    padding-top: 3.375rem;

    &_box {
        @include box_fonct;

        @media (64em <=width) {
            padding-left: 10%;
        }

        @media (64em >=width >=48em) {
            display: flex;
            flex-direction: column;
        }
    }

    &-title {
        margin:0 0 1.25rem 1.25rem;

        @media (64em >=width >=48em) {
            margin-left: 12.2rem;
        }

        @media (width >=64em) {
            margin-left: 9.7rem;
        }

    }

    &-cards {
        @include box_fonct;
        gap: 1.125rem;
        margin: 0 0 0 1.063rem;

        @media (64em<=width) {
            flex-direction: row;
            gap: unset;
            left: -2.5rem;
            position: relative;
        }

        @media (64em >=width >=48em) {
            display: flex;
            flex-direction: row;
            gap: unset;
        }

        &>a {
            @include box_fonct;
            color: $black;
            text-decoration: none;
        }
    }

    &_container {
        @include box_fonct;
        margin: unset;
        width: 100%;

        &_box {
            @media (64em <=width) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 50px;
                margin-bottom: 1.875rem;
            }

            @media (64em >=width >=48em) {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-bottom: 1.875rem;
            }
        }
    }

    &_heart {
        @include box_fonct;
        margin: unset;
        position: relative;
        z-index: 1;
    }

    &_card {
        @include box_fonct;
        background-color: $white;
        border-radius: $bd-radius-menu;
        margin: unset;

        &>img {
            
            border-radius: $bd-rad-card;
            height: 10.875rem;
            object-fit: cover;
            width: 21.25rem;

            @media (width >=48em) {
                
                object-fit: cover;
                top: 18rem;
                width: 18rem;
                height: 8rem;
            }

            @media (width >=64em) {
                left: -10rem;
                object-fit: cover;
                top: 18rem;
                width: 24.625rem;
            }

            @media (width <=23.438em) {
                height: 8rem;
                left: 0rem;
                object-fit: cover;
                width: 18rem;
            }
        }

        &_1,
        &_3,
        &_4 {
            object-position: 0% 100%;
            
            @media (width >=64em) {
                object-position: 20% 100%; 
            }
        
            @media (width >=90em) {
                
            }
        }

        &_2 {
            object-position: 38% 62%;
        }

        &-title {
            margin: 1rem 0 0 0.813rem;
        }

        &-subtitle {
            margin: 0.313rem 0 0.75rem 0.813rem;
        }
    }
}

.hart-resto {
    left: 80%;
    top: -3.5rem;

    &>.solid {
        margin-top: -.0001rem;
    }

    @media (width <=23.438em) {
        top: -3rem;
    }

    @media (64em >=width >=48em) {
        left: -5%;
        top: 10rem;
    }

    @media (width >=64em) {
        left: -3rem;
        top: 10rem;
    }

    @media (width >=90em) {
        left: -3rem;
        top: 13rem;
    }
}