.restaurants {
    @include box;
    background-color: $background-reservation;
    padding: 3.375rem 0 3rem 0;

    @media (width >=768px) {
        padding-bottom: unset;
    }

    &_box {
        @include box_fonct;

        @media (1024px <=width) {
            padding-left: 10%;
        }

        @media (1024px >=width >=768px) {
            display: flex;
            flex-direction: column;
        }

        @media (width >=1024px) {
            padding-left: unset;
        }
    }

    &-title {
        margin: 0 0 1.25rem 1.25rem;

        @media (width >=1024px) {
            margin-left: unset;
        }
    }

    &-cards {
        @include box_fonct;

        margin: 0 0 0 1.063rem;

        @media (1024px<=width) {
            flex-direction: row;

            margin-left: unset;
        }

        @media (1024px >=width >=768px) {
            display: flex;
            flex-direction: row;

        }

        &>a {
            @include box_fonct;
            color: $black;
            text-decoration: none;
        }
    }

    &_container {
        @include box_fonct;
        margin: unset;
        width: 100%;

        &_box {
            @media (1024px <=width) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            @media (1024px >=width >=768px) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &_heart {
        @include box_fonct;
        margin: unset;
        position: relative;
        z-index: 1;
    }

    &_card {
        @include box_fonct;
        background-color: $white;
        border-radius: $bd-radius-menu;
        margin: 0 0 1.125rem 0;

        &>img {

            border-radius: $bd-rad-card;
            height: 10.688rem;
            object-fit: cover;
            width: 21.25rem;

            @media (width >=768px) {

                object-fit: cover;
                top: 18rem;
                width: 18rem;
                height: 8rem;
            }

            @media (width >=1024px) {

                object-fit: cover;
                top: 18rem;
                width: 22.162rem;
            }

            @media (width <375px) {
                height: 8rem;
                left: 0rem;
                object-fit: cover;
                width: 18rem;
            }

            @media (width >=1440px) {

                object-fit: cover;
                top: 18rem;
                width: 30.625rem;
                height: 10.875rem;
            }
        }

        &_1 {
            object-position: 0% 70%;

            @media (width >=1024px) {
                object-position: 20% 70%;
            }

            @media (width >=1440px) {}
        }

        &_2 {
            object-position: 38% 60%;
        }

        &_3 {
            object-position: 50% 80%;
        }

        &_4 {
            object-position: 38% 62%;

            @media (width >=1024px) {
                object-position: 20% 70%;
            }
        }

        &-title {
            margin: 1rem 0 0 0.813rem;
        }

        &-subtitle {
            margin: 0.313rem 0 0.75rem 0.813rem;
        }
    }
}

.hart-resto {
    right: -18.313rem;
    top: -3.8rem;

    &>.solid {
        margin-top: -.0001rem;
    }

    @media (width <375px) {
        left: 15.9rem;
    }

    @media (1024px >=width >=768px) {
        left: -5%;
        top: 10rem;
    }

    @media (width >=1024px) {
        left: -3rem;
        top: 10rem;
    }

    @media (width >=1440px) {
        left: -2.8rem;
        top: 13rem;
    }

    &>.fa-xl {
        font-size: 1.313rem;

    }
}

.position {
    @media (width >=1024px) {
        margin-left: 6.25rem;
    }

    @media (width >=1440px) {
        margin-left: 6.25rem;
    }
}