body,
html,
button,
input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1.125em;
}
.fa-arrow-left{
  color: $color-icon;
  font-size: 1.4rem;
  @media (width <=375px) {
    font-size: 1.2em;
}
@media (width >=1440px) {
  font-size: 1.8em;
}
}

.fonctionnement_btn {
  @media (1024px>=width >=768px) {
    font-size: 1.2em;
  }
  @media (1024px<=width) {
    font-size: 1rem;
  }
}

input,
button,
.footer_label {
  font-size: 1em;
  color: $white;
}

footer {
  color: $white;
}

.footer_logo {
  &>h3 {
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
  }
}

.footer_logo,
.loading-box {
  font-family: 'Shrikhand', sans-serif;
  font-weight: 400;
  line-height: normal;


}

.label {
  font-size: 1em;

  @media (width <375px) {
    font-size: .85em;
  }
}

.loading-text {
  font-size: 6vw;
  line-height: 64px;
  letter-spacing: 0.3em;

  @media (width <=375px) {
    font-size: 6vw;
    letter-spacing: 0.2em;
  }
}

.location>.fa-location {
  font-size: 1em;
  color: $color-icon;
}

.location_text {
  font-weight: 500;
  font-style: normal;

}

.menu {
  &_restaurant_title {

    &>h2 {
      font-family: 'Shrikhand', sans-serif;
      font-size: 1.75em;
      font-weight: 400;

      @media (width <=375px) {
        font-size: 1.4em;
      }
    }
  }

  &_section {

    &>h3 {
      font-size: 1em;
      font-weight: 300;
      font-style: normal;
    }

  }

  &_container {

    &_content {

      &>h4 {
        font-size: 1.125em;
        font-weight: 500;
      }

      &>p {
        font-size: 0.94em;
        font-weight: 300;

      }

      &_price {
        &>p {
          font-size: 0.94em;
          font-weight: 700;
          color: $background-footer;

          @media (width<=375px) {
            font-size: .7em;

          }
        }
      }
    }
  }

}

p {
  font-size: 1.125em;
  font-weight: 300;
  color: $icon;
  font-style: normal;

  @media (width<=375px) {
    font-size: 1em;
  }

}

.restaurants_card-label {
  font-size: 0.875em;
  font-weight: 500;
}

.restaurants_card-subtitle {
  font-size: 1.0625rem;
  color: $black;
  font-weight: 300;
}



.reservation_title {
  &>h2 {
    @media (width >=1024px) {
      font-size: 2.5rem;
    }
  }
}
.number{
  font-size: .886rem;

  @media (width >=1024px) {
    font-size: .63rem;
  }
  @media (width >=1440px) {
    font-size: .886rem;
  }
}