body {
    margin: unset;
    display: flex;
    flex-direction: column;
}

.body_menu{
    @media (width >=768px) {
    align-items: center;
    margin: unset;
    margin-block: unset;
    }
}
h2 {
    margin-block: unset;
}

footer {
    @include box_fonct;
    background-color: $background-footer;
    height: 11.625rem;
    min-width: 100%;

    @media (width >=1024px) {
        align-items: flex-end;
        max-height: 7.125em;
        min-width: 100%;
    }

    @media (width >= 768px) {
        justify-content: flex-end;
        height: 8rem;       
      }
}
