body{
    margin: unset;
}
h2{
    margin-block:unset;
}
footer{
    @include box_fonct; 
    background-color: $background-footer;
    width: 100%;
    height: 186px;
    @media (width >= 64em) {
        align-items: flex-end;
      }
    
    
}