.header {
    &_box {
        align-items: center;
        display: flex;
        justify-content: center;

        &_item {
            align-items: center;
            display: flex;
            height: 3.938rem;
            width: 45%;

            @media (width >=90em) {
                height: 6rem;
            }
            @media (width >=48em) {
                height: 5rem;
            }
        }
        
    }
}