.menu {
    background-color: $background-reservation;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-bottom: -2rem;
    padding-bottom: 2.5rem;
    position: relative;
    top: -3.5rem;
    z-index: 1;

    @media (768px <=width) {
        position: relative;
        min-width: 73.19%;
        width: calc(100% - 40%);
        top: .5rem;
        margin-bottom: .5rem;
    }

    @media (768> width >=425px) {
        top: 0;
        margin-bottom: 0;
    }

    @media (width >=1024px) {
        top: 6rem;
        margin-bottom: 6rem;
    }

    @media (width >=1440px) {
        top: 11rem;
        margin-bottom: 11rem;
    }

    &_container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        overflow: hidden;
        padding-bottom: 2.5rem;
    }

    &_restaurant {
        padding: 2rem 0 0 1.063rem;
        margin-bottom: 2.5rem;

        @media (768px <=width) {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: center;
        }

        &_heart {
            @include box;
            justify-content: flex-end;
            margin-right: 3rem;
            position: relative;
            top: -1rem;
            z-index: 1;

            @media (768px <=width) {
                top: 0;
            }
        }
    }

    &_section {
        margin: 0 0.813rem 0 0.813rem;

        @media (768px <=width) {
            min-width: 70%;
            overflow: hidden;
        }

        &>h3 {
            margin-top: 0;
        }
    }

    &_title {
        animation: delay 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        position: relative;
        transform: scale(0);
        text-transform: uppercase;

        &::before {
            content: "";
            background-color: $background-line;
            display: block;
            height: 0.188rem;
            position: absolute;
            top: 1.5rem;
            width: 2.5rem;
        }
    }
}

.commander {
    display: flex;
    justify-content: center;
}