.entete {
    display: flex;
    @media (64em <=width) {
        
        width: 100%;
        object-fit: cover;
    }

    &>img {
        max-width: 100%;
        max-height: 25rem;
       
        object-fit: cover;

        @media (64em <=width) {
           
            width: 100%;
            object-fit: cover;
        }

    }
}

.menu {
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: $background-reservation;
    padding-bottom: 2.5rem;



    &_section {

        &>h3 {
            margin-top: 2.5rem;
        }

    }

    &_container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &_box_logo {
        @media (width >=64em) {
            margin-left: 33%;
            border: transparent;
        }
        @media (64em <=width) {
            margin-left: unset;
        }
    }


}

.commander {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}